# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
*.iml
*.ipr
*.iws
.idea/
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
/analysis_options.yaml
/.metadata
/example/.metadata
/example/.flutter-plugins
/example/.flutter-plugins-dependencies
/example/macos/
/test/test_temp/
/coverage/html/
